.mr-2 {
  margin-right: 0.5rem
}

.mt-0 {
  margin-top: 0px
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-4 {
  margin-top: 1rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-full {
  height: 100%
}

.w-64 {
  width: 16rem
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.justify-center {
  justify-content: center
}

.justify-around {
  justify-content: space-around
}

.self-start {
  align-self: flex-start
}

.border {
  border-width: 1px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

.p-4 {
  padding: 1rem
}

.pt-4 {
  padding-top: 1rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-inherit {
  color: inherit
}
