.mr-2 {
  margin-right: 0.5rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mr-0\.5 {
  margin-right: 0.125rem
}

.mr-0 {
  margin-right: 0px
}

.flex {
  display: flex
}

.w-64 {
  width: 16rem
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.border {
  border-width: 1px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}
